@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="my-3 text-center">
        <a asp-action="AnimalFacts" class="btn btn-primary">Get Animal Facts from API</a>
    </div>
</div>
